# Copyright (c) 2025 Golioth, Inc.
# SPDX-License-Identifier: Apache-2.0

configdefault MBEDTLS_USE_PSA_CRYPTO
	default n

source "${ZEPHYR_GOLIOTH_FIRMWARE_SDK_MODULE_DIR}/examples/zephyr/common/Kconfig.defconfig"

config GATEWAY_CLOUD
	bool "Send pouches to cloud"
	default y

if GATEWAY_CLOUD

config GATEWAY_UPLINK_TIMEOUT
    int "Uplink timeout"
    default 10
    help
      Timeout for uplink in seconds. This is the maximum time the
      gateway will wait for an uplink to be sent to the cloud. If the
      timeout is reached, the gateway will stop waiting and continue
      with other tasks.

endif # GATEWAY_CLOUD

config GATEWAY_SERVER_CERT_MAX_LEN
    int "Server certificate maximum length"
    default 4096
    help
      Maximum length of server certificate.

source "Kconfig.zephyr"
